<template name="scheduleSubmit">
    <div class = "container-fluid">
      <form>
        <div class = "form-group">
          <label for="title"> 여행 제목 </label>
          <input name="title" type="text" value="{{title}}" placeholder="여행일정 제목을 입력해주세요" class="form-control" id="title" required/>
        </div>

        <div class="col-md-12">
          {{> addEditEventModal}}
          <div id='calendar'></div>
        </div>

        <div class="col-md-12" style="margin-top:5px">
          <button type="submit" value="submit" class="btn btn-success pull-right" id="submit"> 저장 </button>
          <button style="margin-right:3px" class="btn btn-warning pull-right" id="return"> 돌아가기 </button>
        </div>
      </form>
    </div>
</template>
