<template name = "specificTrip">
  <div class="container-fluid">
    {{#each subTrips}}
      {{> subTripItem}}
    {{/each}}
  </div>
  <div class="col-md-12" style="margin-top:5px">
    <button class="btn btn-warning pull-right" id="edit"> 여행일정 수정 </button>
  </div>
</template>


<template name = "subTripItem">
  <div class="item well">
    <h3> {{place}} {{dateFormat from}} ~ {{dateFormat end}} </h3>
      {{# each dayEntries lat lon from end}}
          {{>weatherItem}}
          <!--<p>{{dateFormat time}}</p>-->
      {{/each}}
  </div>
</template>

<template name="weatherItem">
   <div>
       <p>{{dateFormat time}}</p>
       <!--<p>{{lat}}</p>-->
       <!--<p>{{lon}}</p>-->
       {{weatherOfDay lat lon time}}
       <p>최저기온: {{tempMin}} 최고기온: {{tempMax}} 날씨: {{summaryOfDay}}</p>
   </div>
</template>
